<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="orderplaced.css">
    <style>
        /* kung ndi naman ganun karami yung style nyo, no need na gumawa ng .css file dito nyo na lang ilagay*/
    </style>
    <title>Home Page</title>
</head>
<body>
    <!-- Nav Bar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1">
            <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
            Company Name</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="index.html">Home <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="#">Contact</a>
                <a class="nav-link" href="#">About us</a>
            </div>
            <div class="navbar-nav ml-auto">
                <a class="nav-link" href="#"><i class='fas fa-user-alt'></i>Your account</a>
                <a class="nav-link" href="cart.html"><i class='fas fa-cart-arrow-down'></i>Your cart</a>
                <a class="nav-link" href="#"><i class='fas fa-sign-out-alt'></i>Logout</a>
            </div>
        </div>
    </nav>
    <br><br><br>
    <!-- START HERE!!!!!-->
    
    <!-- the body-->
    
        
            <div class="container py-5 h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-10 col-xl-8">
                  <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                      <h5 class="text-muted mb-0" span style="color: whitesmoke;">Thanks for your Order, <span style="color: #ffffff;">Harris</span>!</h5>
                    </div>
                    <div class="card-body p-4">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <p class="lead fw-normal mb-0" style="color: whitesmoke;">Receipt</p>
                        <p class="small text-muted mb-0"span style="color: whitesmoke;">Receipt Voucher :<span style="color: white;">1KAU9-84UIL</p></span>
                      </div>
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <img src="images/air.jpg" class="img-fluid" alt="Shoes" width="175" height="175">
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0"span style="color: whitesmoke;">Air Force 1</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">White</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Size: 9.5 US</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Qty: 1</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Php 5999.99</p>
                            </div>
                          </div>
                          <hr class="mb-4" style="background-color: #f80606; opacity: 1;">
                          <div class="row d-flex align-items-center">
                            <div class="col-md-2">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Track Order</p>
                            </div>
                            <div class="col-md-10">
                              <div class="progress" style="height: 6px; border-radius: 16px;">
                                <div
                                  class="progress-bar"
                                  role="progressbar"
                                  style="width: 65%; border-radius: 16px; background-color: white-space: inherit;"
                                  aria-valuenow="65"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <div class="d-flex justify-content-around mb-1">
                                <p class="text-muted mt-1 mb-0 small ms-xl-5"span style="color: whitesmoke;">Out for Stocks</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5"span style="color: whitesmoke;">Delivered</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <img src="images/atmos.jpg" class="img-fluid" alt="Shoes" width="175" height="175">
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0"span style="color: whitesmoke;"> Air Jordan 1</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Atmosphere</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Size: 6 US</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Qty: 1</p>
                            </div>
                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Php 11,999.99</p>
                            </div>
                          </div>
                          <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                          <div class="row d-flex align-items-center">
                            <div class="col-md-2">
                              <p class="text-muted mb-0 small"span style="color: whitesmoke;">Track Order</p>
                            </div>
                            <div class="col-md-10">
                              <div class="progress" style="height: 6px; border-radius: 16px;">
                                <div
                                  class="progress-bar"
                                  role="progressbar"
                                  style="width: 50%; border-radius: 16px; background-color: white-space: inherit;"
                                  aria-valuenow="65"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <div class="d-flex justify-content-around mb-1">
                                <p class="text-muted mt-1 mb-0 small ms-xl-5"span style="color: whitesmoke;">Out for stocks</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5"span style="color: whitesmoke;">Delivered</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
          
                      <div class="d-flex justify-content-between pt-2">
                        <p class="fw-bold mb-0"span style="color: black;">Order Details</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4"span style="color: gray;">Purchased Total : Php 17,999.98 </span> </p>
                      </div>
          
                      <div class="d-flex justify-content-between pt-2">
                        <p class="text-muted mb-0"span style="color: gray;">Invoice Number : A1T2O3S4</p>
                
                      </div>
          
                      <div class="d-flex justify-content-between">
                        <p class="text-muted mb-0"span style="color: gray;">Invoice Date : 28 Feb,2022</p>
                
                      </div>
          
                      <div class="d-flex justify-content-between mb-5">
                        <p class="text-muted mb-0"span style="color: gray;">Recepits Voucher : 18KU-62IIK (20%)</p>
                        <p class="text-muted mb-0"><span class="fw-bold me-4"span style="color: gray;">Delivery Charges : Free</p>
                      </div>
                    </div>
                    <div class="card-footer border-0 px-4 py-5" style="background-color: #cacaca; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                      <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Amount paid: <span class="h2 mb-0 ms-2">Php 14,399.98</span></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    <!-- END HERE!!!!!!-->
    <br><br><br>
    <!-- FOOTER-->
    <footer class="page-footer" style="background-color: #f2f2f2; padding: 25px;">

    <div class="container col d-flex justify-content-center ">
        <div class="row">
            <div >
                <center><p>All rights to brand manufacturers.</p></center>  
                <form class="form-inline">Get deals:
                <input type="email" class="form-control" size="50" placeholder="Email Address">
                <button type="button" class="btn btn-danger">Sign Up</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> uranus.com</a>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
    
</body>
</html>